@import "./variables";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

@layer components {
  .icon {
    @apply select-none inline-block text-inherit box-content;
  }

  .icon[data-axis*="x"] {
    @apply w-[1em];
  }

  .icon[data-axis*="y"] {
    @apply h-[1em];
  }
}

.example {
  display: grid;
  transition: all 0.5s;
  user-select: none;
  background: linear-gradient(to bottom, white, black);
}
